@font-face {
  font-family: "Nunito";
  src: url("./assets/Nunito-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  src: url("./assets/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Menlo";
  src: url("./assets/Menlo-Regular.ttf") format("truetype");
}

body {
  --content-font-family: "Open Sans", "Calibri", sans-serif;
  --header-font-family: "Nunito", "Calibri Light", var(--content-font-family);
  --table-font-family: "Open Sans", "Calibri Light", var(--content-font-family);
  --code-font-family: "Menlo", "Monaco", "Courier New", monospace;
  --zenika-red: #ee2238;
  --zenika-red-secondary: #bf1d67;
  --zenika-yellow: #f4c042;
  --zenika-yellow-secondary: #eb8581;
  --zenika-purple: #a188ef;
  --zenika-purple-secondary: #7c86e9;
  --zenika-blue: #4ca8e7;
  --zenika-blue-secondary: #4f8df5;
  --zenika-green: #00eb84;
  --zenika-green-secondary: #00e3ec;
  --zenika-logo-monogram: url("./assets/zenika-logo-monogram.png");
  --zenika-logo-horizontal: url("./assets/zenika-logo-horizontal-black.png");
  --zenika-logo-vertical: url("./assets/zenika-logo-vertical-black.png");
}
