@import url("./global.css");

body,
html {
  height: 100%;
  padding-top: 5%;
  text-align: center;
  font-family: var(--header-font-family);
}

a {
  color: #333333;
  text-decoration: none;
}

.links {
  display: inline-flex;
  padding: 50px;
}

.link {
  margin: 50px;
  font-size: 3em;
  display: flex;
  flex-direction: column;
}

.sub-link {
  font-size: 40%;
}

.sub-link[href=""] {
  display: none;
}

#github.sub-link::before {
  content: url("./assets/GitHub-Mark-32px.png");
  padding-right: 5px;
  vertical-align: -0.5em;
}
