<!DOCTYPE html>
<html lang="<%= htmlWebpackPlugin.options.language %>">
  <head>
    <meta charset="UTF-8" />
    <title><%= htmlWebpackPlugin.options.trainingSlug %></title>
  </head>

  <body>
    <div>
      <img width="180px" src="./assets/zenika-logo-monogram.png" />
      <h1>{Titre de la Formation}</h1>
    </div>
    <div class="links">
      <div class="link">
        <a href="slides.html#/">👩‍🏫 Slides</a>
        <a
          href="pdf/Zenika-<%= htmlWebpackPlugin.options.trainingSlug %>-Slides.pdf"
          class="link-pdf"
          >📄 PDF</a
        >
      </div>
      <div class="link">
        <a href="labs.html">👩‍🔬 Labs</a>
        <a
          href="pdf/Zenika-<%= htmlWebpackPlugin.options.trainingSlug %>-Workbook.pdf"
          class="link-pdf"
          >📄 PDF</a
        >
      </div>
    </div>
  </body>
</html>
