@font-face {
  font-family: "Montserrat";
  src: url("./slides/assets/Montserrat-Bold.ttf") format("truetype");
}

body, html {
  height: 100%;
  padding-top: 5%;
  text-align: center;
  font-family: "Montserrat", "Calibri Light"
}

a {
  color: #333333;
  text-decoration: none;
}

.links {
  display: inline-flex;
  padding: 50px;
}

.link {
  margin: 50px;
  font-size: 3em;

}
