@font-face {
  font-family: "Nunito";
  src: url("./slides/assets/Nunito-Bold.ttf") format("truetype");
}

body,
html {
  height: 100%;
  padding-top: 5%;
  text-align: center;
  font-family: "Nunito", "Calibri Light";
}

a {
  color: #333333;
  text-decoration: none;
}

.links {
  display: inline-flex;
  padding: 50px;
}

.link {
  margin: 50px;
  font-size: 3em;
  display: flex;
  flex-direction: column;
}

.link-pdf {
  font-size: 40%;
}
