<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= htmlWebpackPlugin.options.trainingSlug %></title>
  </head>

  <body>
    <div>
      <img
        width="180px"
        src="slides/assets/zenika-logo-red-no-shadow-no-text.png"
      />
      <h1>{Titre de la Formation}</h1>
    </div>
    <div class="links">
      <div class="link">
        <a href="slides.html#/">👩‍🏫 Slides</a>
        <a
          href="https://storage.cloud.google.com/zen-formations-pdfs/<%= htmlWebpackPlugin.options.trainingSlug %>/slides.pdf"
          class="link-pdf"
        >
          📄 PDF
        </a>
      </div>
      <div class="link">
        <a href="labs.html">👩‍🔬 Labs</a>
        <a
          href="https://storage.cloud.google.com/zen-formations-pdfs/<%= htmlWebpackPlugin.options.trainingSlug %>/labs.pdf"
          class="link-pdf"
        >
          📄 PDF
        </a>
      </div>
    </div>
  </body>
</html>
